@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kamber";
  src: url(./src/Kamber-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Kamber";
  src: url(./src/Kamber-Regular.otf);
  font-weight: normal;
}

p::-webkit-scrollbar {
  display: none;
}

#map {
  background-image: url("./src/mtkelly.webp");
  background-size: cover;
  background-position: center;
}

#timetable {
  background-image: url("./src/kemp.png");
}
