@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kamber";
  src: url(./src/Kamber-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Kamber";
  src: url(./src/Kamber-Regular.otf);
  font-weight: normal;
}

p::-webkit-scrollbar {
  display: none;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#hero {
  background-image: url("./src/mtkelly.webp");
  background-size: cover;
  background-position: center;
}

#map {
  background-image: url("./src/mtkelly.webp");
  background-size: cover;
  background-position: center;
}

#timetable {
  background-image: url("./src/timetable.webp");
  background-size: cover;
  background-position: center;
}
